@import "../../Constant.scss";

.auth-container {
  background-color: $light-pink;
  margin: calc(#{$padding} * 2) auto;
  max-width: 500px;
  width: 100%;
  border-radius: $padding;
  padding: $padding;

  .auth__title {
    text-align: center;
    margin-bottom: $padding;
  }
  form.auth-form {
    // margin: auto;
    // width: 100%;

    input {
      max-width: 300px;
      width: 100%;
      display: flex;
      justify-content: center;

      margin: 10px auto;
      &::placeholder {
        font-size: $font-size;
      }
    }
  }

  button {

    padding: $padding;
    background-color: $light-blue;
    display: inline-block;
    font-size: $middle-font-size;
    border: 1px solid $blue;
    border-radius: calc(#{$borderRadius} - 8px);
    padding: calc(#{$padding} - 15px) $padding;
    transition: 0.5s ease-in-out;
    margin: 0 auto;

    &:disabled {
      background-color: $gray;
      cursor: not-allowed;

      &:hover {
        background-color: $gray;
        cursor: pointer;
      }
    }
  }

  .btn-wrapper {
    display: block;
    text-align: center;
    margin-top: calc(#{$padding} - 10px);

  }
}

@media all and (max-width: 767px) {
  .auth-container {
    width: 90%;

    form.auth-form {
      input {
        width: 100%;

        &::placeholder {
          font-size: $small-font-size;
        }
      }
    }
  }
}